* {
    box-sizing: border-box;
    color: #2e132e;
}

body {
    font-family: Arial;
    margin: 0;
}

header {
    padding: 40px;
    text-align: center;
    background:  #ffdbc5;
}

nav {
    display: flex;
    /* background-color: #7f0033; */
    justify-content: center;
}

nav a {
    padding: 10px 10px;
    text-decoration: none;
    /* text-align: center; */
    color: #7f0033;
    font-size: x-large;
}

main {
    display: flex;
}


h3 {
    text-align: left;
}

.projects {
    flex-wrap: wrap;
}

.about-me {
    position: center;
}

.contact {
  position: center;
}

.main {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
}


aside {
    display: flex;
    flex: 1;
    background-color: #ffdbc5;
    padding: 50px;
    text-align: center;
    justify-content: left;
    /* max-width: 80%; */
}

.selfie {
    padding-top: 20px;
    max-width: 200px;
}

.aside {
    position: fixed;
    top: 200px;
}

@media screen and (min-width: 800px) {
    aside {
        max-width: 400px;
    }
}

footer {
    padding: 20px;
    text-align: center;
    background: #1f5868 ;

}

.card {
    padding: 5px;
    flex: 0 0 400px;
    border-style: solid;
    border-width: 10px;
}

.card header {
    padding: 10px;
}

.card img {
    width: 100%;
    max-width: 700px;
}

@media screen and (max-width: 786px) {
    main,
    nav {
        flex-direction: column;
    }
}

@media screen and ()