* {
    box-sizing: border-box;
    color: #2e132e;
    font-family: Andale Mono;
}

body {
    margin: 0;
}

header {
    padding: 20px;
    text-align: center;
    background:  #ecdcd9 ;
    color: #244143;
}

h1 {
    color: #dd549a;
}

h2 {
    color: #244143;
}
nav {
    display: flex;
    /* background-color: #7f0033; */
    justify-content: center;
}

nav a {
    padding: 10px 10px;
    text-decoration: none;
    color: #dd549a;
    font-size: x-large;
}

main {
    display: flex;
}

#worktitle {
    font-size: 15px;
}

.projects {
    flex-wrap: wrap;
}

.about-me {
  position: center;
  text-align: center;
}

.contact {
  position: center;
}

h3 {
    font-style: oblique;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
}


aside {
    display: flex;
    flex: 1;
    background-color: #ecdcd9 ;
    padding: 50px;
    text-align: center;
    justify-content: left;
    /* max-width: 80%; */
}

.selfie {
    padding-top: 20px;
    max-width: 200px;
}


@media screen and (min-width: 1300px) {
.aside {
    position: fixed;
    top: 200px;
}
}

@media screen and (min-width: 1300px) {
    aside {
        max-width: 400px;
    }
}

footer {
    padding: 20px;
    text-align: center;
    background: #e9a04b;

}

.card {
    padding: 5px;
    flex: 0 0 400px;
    border-width: 10px;
}

.card header {
    padding: 10px;
}

.card img {
    width: 100%;
    max-width: 700px;
}

.small-card {
    max-width: 200px;
    display: inline-block;
}
.small-card img {
    max-width: 200px;
    max-height: 100px;
}

@media screen and (max-width: 1300px) {
    main,
    nav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    }